#hero{
  width: 100%;
  margin-bottom: 40px;
  
  img{
    width: 100%;
  }
  .hero-text{
    width: 100%;
    border-left: 10px solid #FFABFF;
    background-color: rgba(255,255,255,.2);
    padding:20px;
  }
  h1{
    
    font-size: 1.4em;
    margin:0 0 20px 0;
  }
  h2{
    margin: 0;
    font-size: 1.4em;
    font-weight: normal;
  }
  a{
    color: #fff;
  }
}