#hero{
  width: 100%;
  margin-bottom: 10px;
  overflow: auto;
  
  img{
    width: 100%;
  }
  .hero-text{
    width: 100%;
    padding-top: 20px;
    text-align: center;
    p{
      margin: 0;
    }
  }
  h1{    
    font-size: 1.4em;
    margin:0 0 20px 0;
  }
  h2{
    margin: 0;
    font-size: 1.4em;
    font-weight: normal;
  }
  a{
    color: #fff;
  }
}