#info-bar {
  float: left;
  width: 25%;
  padding: 20px 0 0 40px;
  color: #fff;
  
  a{
    color:#fff;
  }
}

.related{

  margin-top: 4px;

  @media (max-width: 900px){
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 40px;
  }

  h3{
    @media (max-width: 900px){
      width: 100%;
    }    
  }

  hr{
    @media (max-width: 900px){
      display: none;
    }
  }

  a{
    @media (max-width: 900px){
      // background-color: #fff;
      width: calc(33%);
    }
  }

  
}

.related-post {
  width: calc(100% - 10px);
  
  max-width: 150px;
  margin-bottom: 10px;
  cursor: pointer;
  background-size: cover;
  background-position: 50% 20%;
  position: relative;

  @media (max-width: 900px){
    display: flex;
    flex-direction: column; 
    margin-left: auto;
    margin-right: auto; 
  }

  &.sponsor, &.partner {
    height: auto;
  }

  img{
    border: 1px solid rebeccapurple;
  }
  
  span{
    position: absolute;
    left: 105%;
    top: 0;
    font-size: 14px;
    
    @media (max-width: 900px){
      position: relative;
      left: 0;
      right: 0;
      display: block;
      margin-top: 10px;
    }
  }
}



.info-link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  display: block;
  border-bottom: 1px dotted;
  position: relative;
  line-height: 20px;
}

#info-bar svg{
  width: 20px;
  height: 20px;
  display: inline-block;
  fill:#fff;
  margin-right: 5px;
}

#info-bar h3{
  margin-bottom: 10px;
}