.column{
  float: left;
  width: 50%;
  padding: 0 15px;
  .bar-link {
    margin-bottom: 30px;
    float: none;
    display: block;
  }
}

.column:first-of-type{
  padding-left: 0;
}

.column:last-of-type{
  padding-right: 0;  
}


.content-block{
  position: relative;
  float: left;
  text-decoration: none;
  margin-bottom: 30px;
  width: 100%;
  border:1px solid #333;

  >img{
    width: 100%;
  }

  .date {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    padding: 5px;
    text-align: center;
    border-left: 1px solid #666;
  }
}
.content-block:hover>span{
  background-color: $pink;
}
.more-link{
  display: block;
  color:#00a4a7;
  float: left;
  padding-left: 15px;
}

#projects.column{
  .inner-column{
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150vh;
    max-height: 1400px;
    overflow: hidden;
  } 
  .content-block{
    width: 48%;
    margin: 1%;
  }
}
