.column{
  float: left;
  width: 33.33%;
  .bar-link{
    padding: 0 15px 0 15px;
    h2{
      margin-top: 0;
    }
  }
  .inner-column{
    padding:0px 15px 0 15px;
  }
}

.column:first-of-type{
 .bar-link{
    padding: 0 15px 0 0;
  }
  .inner-column{
    padding:0px 15px 0 0;
  }  
}

.column:last-of-type{
 .bar-link{
    padding: 0 0 0 15px;
  }
  .inner-column{
    padding:0px 0 0 15px;
  }  
}


.content-block{
  position: relative;
  float: left;
  text-decoration: none;
  margin-bottom: 30px;
  max-width: 100%;
  border:1px solid #333;

  .date {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    padding: 5px;
    text-align: center;
    border-left: 1px solid #666;
  }
}
.content-block:hover>span{
  background-color: $pink;
}
.more-link{
  display: block;
  color:#00a4a7;
  float: left;
  padding-left: 15px;
}
