.tiles{
  float: left;
  width: 100%;
}

.tiles .date {
  position: absolute;
  right: 0;
  top: -25px;
  width: 70px;
  padding: 5px 5px 3px;
  text-align: center;
  border-left: 1px solid #666;
  color: #fff;
  background-color: #333;
  z-index: 3;
  font-weight: bold;
}

#events .content-block>span {
  min-height: 50px;
}
.tiles>a{
  display: block;
  float: left;
  width: 49%;
  height: 210px;
  background-size: cover;
  background-position: 50% 20%;
  position: relative;
  margin: 20px 0;
  text-decoration: none;
}
.tiles>a:nth-child(odd) {
  margin-right: 1%;
}

.tiles>a:nth-child(even) {
  margin-left: 1%;
}
.tiles>a>span,.content-block>span{
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  background-color: #333;
  padding: 5px 60px 5px 10px;
  z-index: 1;
  width: 100%;
  display: block;
  position: relative;
}

.tiles>a>span{
  margin-top: -25px;
}

.tiles>a:hover>span,.tiles>a:hover>div{
  background-color: $pink;
}
.bar-link{
  text-decoration: none;
  color: #DFDFDF;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
a.bar-link:hover{
  color:#fff;
}
h2.bar-link, .bar-link>h2{
  text-transform: uppercase;
  font-size: 30px;
  background: #1D1A1C;
  padding: 10px;
  margin: 0 0 20px 0;
  font-weight: lighter;
  border: 1px solid #333;
  border-left: 0;
  border-right: 0;
}
