body{
  font-family:'Asap',helvetica,arial,sans-serif;
}
#content{
  color:#fff;
  padding: 20px;
}
#content td{
  color:#fff;
}
#content a{
  color:#00a4a7;
}
label{
  display: block;
  margin-bottom: 10px;
}
label>span{
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
}
label b{
  color:red;
}
[type=text],[type=password],[type=date]{
  padding: 10px;
  font-size: 13px;
}
#login{
  background-color: rgba(255,255,255,.7);
  width:30%;
  margin:100px auto;
  padding:20px;
}
.thumbnail{
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
h1{
  text-transform: capitalize;
}
input[type=text][name=name]{
  width:100%;
  font-size: 16px;
}

#dashboard #sidebar #links{
  display: none;
}

#sidebar #links>div{
  margin-bottom: 20px;
  float: left;
  width: 100%;
}
#sidebar #links>div>span{
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  background-color: rgba(149, 243, 245, 0.19);
  padding: 5px 10px;
}

#sidebar>a[href="logout.php"]{ /* log out link, floating alone */
  float: left;
  width: 100%;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  border-bottom: 1px solid #111;
  border-top: 1px solid #222;
  transition: background-color .2s;
  &:hover{
    background-color: rgba(64,64,64,.79);
  }
}

.dashboard-links #links{
  display: flex;
  flex-wrap:wrap;
}

.dashboard-links #links>div{
  flex-grow:1;
  flex-basis: 40%;
  margin: 10px;
  padding: 10px;
  text-align: center;
  float: left;
  background-color: rgba(149, 243, 245, 0.19);
  
}
.dashboard-links #links>div span{
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
  display: block;
  border-bottom: 1px solid;
}

.dashboard-links #links>div a{
  float: none;
  display: block;
  border:0;
  color:#fff;
  width: 100%;
}

.dashboard-links #links>div a:hover{
  background-color: #fff;
  color:#000;
  font-weight: bold;
  
}

/* surrounding tag container */
.tag-editor {
    list-style-type: none; 
    padding:5px;
    margin: 0; overflow: hidden; border: 1px solid #eee; cursor: text;
    font: normal 14px sans-serif; color: #555; background: #fff;
    -moz-box-sizing:initial;
    -webkit-box-sizing:initial;
    box-sizing:initial;
}

/* core styles usually need no change */
.tag-editor li { display: block; float: left; overflow: hidden; margin: 3px 0; line-height: 1.5; }
.tag-editor div { float: left; padding: 5px; height: 30px; }
.tag-editor .placeholder { padding: 0 8px; color: #bbb; }
.tag-editor .tag-editor-spacer { padding: 0; width: 8px; overflow: hidden; color: transparent; background: none; }
.tag-editor input {
    vertical-align: inherit; border: 0; outline: none; padding: 0; margin: 0; cursor: text;
    font-family: inherit; font-weight: inherit; font-size: inherit; font-style: inherit;
    box-shadow: none; background: none;
}
/* hide original input field or textarea visually to allow tab navigation */
.tag-editor-hidden-src { position: absolute !important; left: -99999px; }
/* hide IE10 "clear field" X */
.tag-editor ::-ms-clear { display: none; }

/* tag style */
.tag-editor .tag-editor-tag {
    padding-left: 5px; color: #46799b; background: #e0eaf1; white-space: nowrap;
    overflow: hidden; cursor: pointer; border-radius: 2px 0 0 2px;
}

/* delete icon */
.tag-editor .tag-editor-delete { background: #e0eaf1; cursor: pointer; padding-right: 10px; border-radius: 0 2px 2px 0; padding-top: 13px;}
.tag-editor .tag-editor-delete i {
    display: inline-block; width: 7px; height: 7px; vertical-align: middle; background: url(assets/delete.png) 0 0 no-repeat;
    position: relative; top: -1px;
}
.tag-editor .tag-editor-delete:hover i { background-position: 0 -14px; }
.tag-editor .tag-editor-tag.active+.tag-editor-delete,
.tag-editor .tag-editor-tag.active+.tag-editor-delete i { background: none; cursor: text; }

.tag-editor .tag-editor-tag.active { background: none !important; }

/* jQuery UI autocomplete - code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css */
.ui-autocomplete { position: absolute; top: 0; left: 0; cursor: default; font-size: 14px; }
.ui-front { z-index: 9999; }
.ui-menu { list-style: none; padding: 1px; margin: 0; display: block; outline: none; }
.ui-menu .ui-menu-item a { text-decoration: none; display: block; padding: 2px .4em; line-height: 1.4; min-height: 0; /* support: IE7 */ }
.ui-widget-content { border: 1px solid #bbb; background: #fff; color: #555; }
.ui-widget-content a { color: #46799b; }
.ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus { background: #e0eaf1; }
.ui-helper-hidden-accessible { display: none; }

.visibility{
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-image: url(assets/visible.svg);  
}
.visibility:checked{
  background-image: url(assets/hidden.svg);  
  opacity: .5;
}

.svg-cross {
  width: 20px;
  fill: #7E3B3B;
  cursor: pointer;
}
.svg-cross:hover{
  fill: red;
}
fieldset {
  border: 1px solid #333;
  border-radius: 5px;
  display: inline-block;
  margin: 1%;
  padding: 10px;
  float: left;
}
fieldset.left,fieldset.right{
  width: 48%;
}
fieldset.right{
  float: right;
}
.button-wrapper{
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background-color: #333;
  border: 1px solid #595959;
  border-radius: 3px;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}
.button-wrapper>input{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}